// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body,
.background-pattern {
  // background-image: url("/images/gradientbg.png") !important;
  background-size: cover;
  background-repeat: no-repeat;
  // background: rgb(255,239,221);
  background: linear-gradient(
    45deg,
    rgba(255, 239, 221, 0.3) 0%,
    rgba(194, 233, 255, 0.3) 55%,
    rgba(245, 195, 255, 0.3) 100%
  );
}

.auth-wrapper {
  font-family: "Montserrat", sans-serif;
}
.border-primary {
  border: 1px solid $primary !important;
}
.q-field--outlined.q-field-highlighted .q-field__control:after {
  border-width: 1px !important;
  outline-width: 1px !important;
}
.q-field--outlined .q-field__control:after {
  border-width: 1px !important;
  outline-width: 1px !important;
}

.full-vh {
  height: 100vh !important;
}
.min-height-vh {
  height: 100vh !important;
}

.border-radius-xl {
  border-radius: 16px;
}
.border-radius-lg {
  border-radius: 12px;
}
.border-radius-md {
  border-radius: 8px;
}
.border-radius-sm {
  border-radius: 4px;
}
.border-radius-xs {
  border-radius: 2px;
}

// sections
.container-section {
  padding: 100px 0px;
  .inner-section {
    padding: 0px 20px;
    max-width: 81.25rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
.container-section-py-sm {
  padding: 50px 0px;
  .inner-section {
    padding: 0px 20px;
    max-width: 81.25rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
.container-section-py-xs {
  padding: 20px 0px;
  .inner-section {
    padding: 0px 20px;
    max-width: 81.25rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .notification-page-width {
    padding: 0px 20px;
    max-width: 40rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

.container-section-py-xs-0 {
  padding: 0px 0px;
  .inner-section-px-0 {
    padding: 0px 20px;
    max-width: 81.25rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
.slide-image{
  height: 300px;
}
@media screen and (max-width: 900px) {
  .container-section,
  .container-section-py-sm {
    .inner-section {
      padding: 0px 10px;
      width: 95%;
    }
  }
  .container-section-py-xs {
    padding: 10px 0px;
    .inner-section {
      padding: 0px 10px;
      width: 100%;
    }
    .inner-section-px-0 {
      padding: 0px 0px;
      width: 100%;
    }
    .notification-page-width {
      padding: 0px 10px;
      width: 100%;
    }
  }
  .container-section-py-xs-0 {
    padding: 0px 0px;
    .inner-section-px-0 {
      padding: 0px 0px;
      width: 100%;
      height: 200px;
      overflow: hidden;
    }
  }
  .slide-image{
    height: 250px;
  }
}
@media screen and (max-width: 600px) {
  .container-section,
  .container-section-py-sm {
    .inner-section {
      width: 95%;
    }
  }

  .container-section-py-xs {
    padding: 5px 0px;
    .inner-section {
      padding: 0px 5px;
      width: 100%;
    }
    .inner-section-px-0 {
      padding: 0px 0px;
      width: 100%;
    }
    .notification-page-width {
      padding: 0px 5px;
      width: 100%;
    }
  }
  .container-section-py-xs-0 {
    padding: 0px 0px;
    .inner-section-px-0 {
      padding: 0px 0px;
      width: 100%;
    }
  }

.slide-image{
  height: 200px;
}
}

// links
.inactive-link {
  color: rgb(209, 233, 255);
}
// button
.btn-h-22 {
  height: 22px;
}
.btn-h-39 {
  height: 39px;
}
// font size
.fs-3 {
  font-size: 3px !important;
}
.fs-4 {
  font-size: 4px !important;
}
.fs-5 {
  font-size: 5px !important;
}
.fs-6 {
  font-size: 6px !important;
}
.fs-7 {
  font-size: 7px !important;
}
.fs-8 {
  font-size: 8px !important;
}
.fs-9 {
  font-size: 9px !important;
}
.fs-10 {
  font-size: 10px !important;
}
.fs-11 {
  font-size: 11px !important;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-13 {
  font-size: 13px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-15 {
  font-size: 15px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-17 {
  font-size: 17px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-19 {
  font-size: 19px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-21 {
  font-size: 21px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-23 {
  font-size: 23px !important;
}
.fs-24 {
  font-size: 24px !important;
}
.fs-25 {
  font-size: 25px !important;
}
.fs-26 {
  font-size: 26px !important;
}
.fs-27 {
  font-size: 27px !important;
}
.fs-28 {
  font-size: 28px !important;
}
.fs-29 {
  font-size: 29px !important;
}
.fs-30 {
  font-size: 30px !important;
}
.fs-31 {
  font-size: 31px !important;
}
.fs-32 {
  font-size: 32px !important;
}
.pattern-bg-image {
  background-image: url("/images/bd_map_pattern-01.png") !important;
}

.bg-primary-public {
  background-color: $primary_public;
}
.text-primary-public {
  color: $primary_public;
}
.bg-secondary-public {
  background-color: $secondary_public;
}
.text-secondary-public {
  color: $secondary_public;
}
.bg-accent-public {
  background-color: $accent_public;
}
.text-accent-public {
  color: $accent_public;
}

.card .gradient-bg, .gradient-bg {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(131, 58, 180);
  background: linear-gradient(0deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  z-index: -1;
  filter: blur(6px);
  overflow: hidden;
  background-color: transparent;
}
.gradient-bg{
  width: 100%;
  height: 100%;
  filter: blur(7px);
}

.gradient-bg::before {
  width: 130%;
  height: 130%;
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  top: -2rem; right: 0; bottom: -2rem; left: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab,#23a6d5, #e73c7e, #ee7752);
  transform: rotate(0deg);
}
.card .gradient-bg::before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  top: -2rem; right: 0; bottom: -2rem; left: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab,#23a6d5, #e73c7e, #ee7752);
  animation: rotate-gradient linear 5s infinite;
}

@keyframes rotate-gradient {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}



.gradient-bg-medium{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 1px;
  background: rgb(131, 58, 180);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab,#23a6d5, #e73c7e, #ee7752);

  overflow: hidden;
  background-color: transparent;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  opacity: 0.5;
}

.gradient-bg-medium::before {
  width: 130%;
  height: 130%;
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  top: -2rem; right: 0; bottom: -2rem; left: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab,#23a6d5, #e73c7e, #ee7752);
  transform: rotate(0deg);
}
