// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.auth-wrapper{
  font-family: 'Montserrat', sans-serif;
}
.border-primary{
  border: 1px solid $primary !important;
}
.q-field--outlined.q-field-highlighted .q-field__control:after {
  border-width: 1px !important;
  outline-width: 1px !important;
}
.q-field--outlined .q-field__control:after {
  border-width: 1px !important;
  outline-width: 1px !important;
}


// sections
.container-section {
  padding: 100px 0px;
  .inner-section {
    padding: 0px 20px;
    max-width: 81.25rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
.container-section-py-sm {
  padding: 50px 0px;
  .inner-section {
    padding: 0px 20px;
    max-width: 81.25rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 900px) {
  .container-section,
  .container-section-py-sm {
    .inner-section {
      padding: 0px 10px;
      width: 600px;
    }
  }
}
@media screen and (max-width: 600px) {
  .container-section,
  .container-section-py-sm {
    .inner-section {
      width: 95%;
    }
  }
}

// links
.inactive-link{
  color: rgb(209, 233, 255);
}
// button
.btn-h-22{
  height: 22px;
}
// font size
.fs-3 {
  font-size: 3px !important;
}
.fs-4 {
  font-size: 4px !important;
}
.fs-5 {
  font-size: 5px !important;
}
.fs-6 {
  font-size: 6px !important;
}
.fs-7 {
  font-size: 7px !important;
}
.fs-8 {
  font-size: 8px !important;
}
.fs-9 {
  font-size: 9px !important;
}
.fs-10 {
  font-size: 10px !important;
}
.fs-11 {
  font-size: 11px !important;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-13 {
  font-size: 13px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-15 {
  font-size: 15px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-17 {
  font-size: 17px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-19 {
  font-size: 19px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-21 {
  font-size: 21px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-23 {
  font-size: 23px !important;
}
.fs-24 {
  font-size: 24px !important;
}
.fs-25 {
  font-size: 25px !important;
}
.fs-26 {
  font-size: 26px !important;
}
.fs-27 {
  font-size: 27px !important;
}
.fs-28 {
  font-size: 28px !important;
}
.fs-29 {
  font-size: 29px !important;
}
.fs-30 {
  font-size: 30px !important;
}
.fs-31 {
  font-size: 31px !important;
}
.fs-32 {
  font-size: 32px !important;
}
.pattern-bg-image{
  background-image: url("../../public/images/bd_map_pattern-01.png") !important;
}
